name: Construcción y despliegue de una aplicación MVC a Azure

env:
  AZURE_WEBAPP_NAME: upt-awa-729  # Aquí va el nombre de tu aplicación
  DOTNET_VERSION: '8'              # La versión de .NET

on:
  push:
    branches: [ "main" ]
    paths:
      - 'src/**'
      - '.github/workflows/**'
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v3
        with:
            registry: ghcr.io
            username: ${{ github.actor }}
            password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Build Inventory Image'
        run: |
          DOCKER_USER=$(echo $GITHUB_ACTOR | tr '[:upper:]' '[:lower:]')
          docker build . --tag ghcr.io/$DOCKER_USER/shorten:$GITHUB_SHA
          docker push ghcr.io/$DOCKER_USER/shorten:$GITHUB_SHA
        env:
          GITHUB_ACTOR: ${{ github.actor }}
          GITHUB_SHA: ${{ github.sha }}

  deploy:
    permissions:
      contents: none
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Development'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    steps:
      - name: Desplegar a Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: ${{ env.AZURE_WEBAPP_NAME }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE }}
          # Usamos la misma variable de minúsculas que en build
          images: ghcr.io/$DOCKER_USER/shorten:$GITHUB_SHA
        env:
          DOCKER_USER: ${{ github.actor }}
          GITHUB_SHA: ${{ github.sha }}
